<launch>
    <machine name="robot" address="{ROBOT_IP}" env-loader="~/ros_ssh.bash" user="{ROBOT_USER}" default="true">
    </machine>

    <!-- <include  file="$(find usb_cam)/launch/usb_cam.launch" /> -->
    <node name="audio_client_for_robot" pkg="telepresence" type="audio_client_for_robot.py" output="screen"/>
    <node name="audio_server_for_robot" pkg="telepresence" type="audio_server_for_robot.py" output="screen"/>
    <node name="cv_camera" pkg="cv_camera" type="cv_camera_node" output="screen">
        <param name="rate" value="{CAMERA_RATE}" />
        <param name="image_width" value="{CAMERA_WIDTH}" />
        <param name="image_height" value="{CAMERA_HEIGHT}" />
    </node>
</launch>